.about-title {
    display: block;
    /* background-color: hsl(0, 0%, 95%); */
    text-align: center;
    font-size: 3em;
    padding: 50px;
    font-weight: bold;

}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.about-card {
    flex: 95%;
    width: 95%;
    /* background-color: hsl(0, 0%, 83%); */
    background-color: hsl(231, 92%, 95%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 20px;
}

@media  screen and ( min-width: 770px ) {

    .about-card {
        flex: 30%;
        max-width: 30%;
    }
}

.about-skills-container {
    display: flex;
    flex-wrap: wrap;
}

.about-description {
    font-size: 1.5em;
}

.skills-title {
    text-align: center;
    display: block;
    flex: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 2em;
}