.footer {
    background-color: hsl(231, 92%, 75%);
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.footer-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}