.title {
    
    font-size: 2em;
    text-align: center;
}
@media screen and ( min-width: 770px ) {

    .title {
        font-size: 3rem;
        width: 30vw;
        min-width: 300px;

    }

    .title-container, .image-container {
        flex: 35%;
        max-width: 35%
    }
}


@media screen and ( min-width: 600px ) and (max-width: 769px) {

    .title {
        font-size: 2rem;
        width: 30vw;
        min-width: 300px;
    }

    .title-container, .image-container {
        flex: 20%;
        max-width: 20%
    }
}

.image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation-name: myImageAnimation;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.my-name {
    
    color: hsl(231, 92%, 51%);
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Ephesis', cursive;
    animation-name: nameAnimation;
    animation-duration: 2s;
  
    
}

.main-sub-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    flex-wrap: wrap;
    color: white;
    
}

@keyframes myImageAnimation {
    0% {
        width: 0vw; 
        height: 0vw;
        min-width: 0;
        min-height: 0;
    }

    
    100% { 
        width: 10vw; 
        height: 10vw;
        min-width: 150px;
        min-height: 150px;
    
    }
}

.description {
    
    font-size: 0em;
    animation-name: descriptionAnimation;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
    animation-delay: 1s;
    text-shadow: 2px 2px 4px hsl(240, 100%, 70%);

}
@keyframes descriptionAnimation {
    
    0% { font-size: 0em; }
    50% { font-size: 0.5em;}
    100% { font-size: 1em;}
}

.title-container {
    flex: 100%;
    text-align: center;

}

.image-container {
    flex: 100%;
    text-align: center;
}