
.title-container {
   
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.title {
    font-size: 5em;
    width: 30vw;
    /* flex: 40%; */
    margin-right: 50px;
}

.image {
    width: 10vw;
    height: 10vw;

    border-radius: 50%;
}