.card-image {
    width: 300px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left : 20px;
    margin-right: 20px;
    animation: transform 1s;
}

.projects-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.card-text {
    padding: 20px;
    background-color: hsl(231, 92%, 95%);
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
}

.projects-container {
    display: flex;
    flex: 92%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}

.card-link {
    text-decoration: none !important;
    color: inherit !important;
}

.projects-title {
    flex: 8%;
    max-width: 150px;
    
    display: none;   
    flex-direction: column; 
    text-align: center;
    font-size: 3em;
    padding: 50px;
    font-weight: bold;
    color: hsl(230, 94%, 28%);
    background-color: hsl(231, 92%, 90%);
    
}

.projects-page {    
    display: flex;
    flex-direction: column;
    background-image: url("images/screen4.jpg");
    background-size: cover;
    background-color: hsla(0, 100%, 2%,80%);
    background-blend-mode: multiply;
    /* padding-top: 50px;
    padding-bottom: 50px; */
   
}

.projects-title-letter {
    flex: 16%;
    height: 16%;
    text-shadow: 2px 2px 4px #000000;
    
}


.projects-top-title {
    color: hsl(230, 94%, 28%);
    background-color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

@media screen and (min-width: 600px ) {
    .projects-top-title {
        display: none;
    }

    .projects-page {
        flex-direction: row;        
    }

    .projects-title {
        display: flex;
    }

    .card-image, .projects-card {
        width: 400px;
    }
}