@import "mainPage.css";

.main-page-container {
    background-color: hsla(0, 0%, 0%, 60%);
    background-image: url(images/10.JPG);
    background-blend-mode: multiply;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.navigation-bar {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.navigation-item {   
    margin: 40px;
}

.navigation-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    animation: transform 0.5s;
}

.navigation-item a:hover {
    display: inline-block;
    transform: scale(1.2);
    color: hsl(231, 82%, 45%);
    cursor: pointer;
    font-weight: bold;
    
}
 
.projects-container {
    height: 100vh;
}